{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["standard", "plugin:react/recommended", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "eol-last": ["error", "always"],
    "no-debugger": "error",
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "react/no-children-prop": 0,
    "react/display-name": 0,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/no-unknown-property": 0,
    "semi": ["error", "never"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
